---
---

/* for image caption */
img + br + em {
  font-style: normal;
  display: inherit;
  text-align: center;
  font-size: 90%;        
}

.center {
  display: block;
  margin: auto;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap > * {
  margin: 0 1rem;
}

.fab, .fas {
  font-size: 32px;
  color: white;
}